<!-- FLOATING NAV BAR -->
<!-- <header>
  <nav class="floating-nav" id="floating-nav">
    <mat-toolbar>
      <div class="floating-navbar-container">
        <div class="floating-inner-content-left"><div class="brand">KG</div></div>
        <div class="floating-inner-content-center">Kashish Goel</div>
        <div class="floating-inner-content-right">
          <ul class="horizontal-social-list">
            
            <li class="social-item" id="twitter-social">
              <a href="https://twitter.com/kashishgoel_" target="_blank">
                <img class="mr-2" id="twitter-icon" src="../assets/media/twitter.png" width="24px;" height="24px;">
                <label id="twitter-text-goes-here"></label>
              </a>

            </li>
            <li class="social-item" id="git-social">
              <a href="https://github.com/teddyphotos" target="_blank">
                <img class="mr-2" id="git-icon" src="../assets/media/git.png" width="24px;" height="24px;">
                <label id="github-text-goes-here"></label>
              </a>  
            </li>
            <li class="social-item" id="linkedin-social">
              <a href="https://in.linkedin.com/in/kashishhgoel" target="_blank">
                <img class="mr-2" id="linkedin-icon" src="../assets/media/linkedin.png" width="24px;" height="24px;">
                <label id="linkedin-text-goes-here"></label>
              </a>
            </li>
            
            
          </ul>
        </div>
      </div>
    </mat-toolbar>
  </nav>
</header> -->


<section class="landing" id="landing">
  <!-- IN-LANDING NAV BAR -->
  <header>
    <nav class="in-landing-navbar">
      <div class="in-landing-navbar-container">
        <div class="landing-inner-content-left"><span><div class="brand">KG</div></span></div>
        <div class="landing-inner-content-center"><span>Regression Analysis · Machine Learning</span></div>
        <div class="landing-inner-content-right">
          <!-- <button class="text-button"><span>CONTACT</span></button> -->
          <ul class="horizontal-social-list">
            <li class="social-item" id="twitter-social">
              <a href="https://twitter.com/kashishgoel_" target="_blank">
                <img class="mr-2" id="twitter-icon" src="../assets/media/twitter_light.png" width="24px;" height="24px;">
                <label id="twitter-text-goes-here"></label>
              </a>
            </li>
            <li class="social-item" id="git-social">
              <a href="https://github.com/teddyphotos" target="_blank">
                <img class="mr-2" id="git-icon" src="../assets/media/git_light.png" width="24px;" height="24px;">
                <label id="github-text-goes-here"></label>
              </a>  
            </li>
            <li class="social-item" id="linkedin-social">
              <a href="https://in.linkedin.com/in/kashishhgoel" target="_blank">
                <img class="mr-2" id="linkedin-icon" src="../assets/media/linkedin_light.png" width="24px;" height="24px;">
                <label id="linkedin-text-goes-here"></label>
              </a>
            </li>
            
            
          </ul>
        </div>
      </div>
      <div class="line-break"></div>
    </nav>
  </header>

  
  <!-- LANDING CONTENT -->
  <div class="subsection-container" id="subsection-container">
    <div class="subsection">

      <!-- <div class="subsection-inner-left"><span>My Work</span></div>
      <div class="subsection-inner-center">
        <div class="work-description">
          <span>
            I create software and help in planning, executing, controlling and managing teams to deliver powerful mobile and web apps that levrage the power of AI to help brands achieve 10x more

          </span>
        </div>
        
      </div>
      <div class="subsection-inner-right"></div> -->


      <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis voluptas inventore maxime culpa qui magni praesentium sint, iusto quo harum illum consectetur. Molestias quibusdam illo rem. Soluta nam rem consequatur reiciendis quo? Magnam, quasi eos ex labore nulla omnis repudiandae consequuntur. Impedit dignissimos hic perspiciatis saepe sunt aliquam nulla minima autem et? Aliquid alias laborum aspernatur dolores dolor, vitae sed asperiores facere id reprehenderit quas sint, neque quasi nisi quidem non. Assumenda quo labore debitis itaque eligendi aut aperiam expedita fugit officia omnis culpa a, nostrum vel repudiandae? Maiores ullam consequuntur animi quaerat dignissimos ut quia rem odio vitae aliquam! -->
      
      
      <div class="subsection-col">
        <div class="graph-container" id="graph-container">

          <mat-card>
            <canvas></canvas>
          </mat-card>
          
          <div class="graph-controls">

            <div class="graph-dimensions">
              <mat-chip-list>
                <mat-chip>W: {{canvasWidth}}</mat-chip>
                <mat-chip>H: {{canvasHeight}}</mat-chip>
              </mat-chip-list>
              </div>


            <div class="stroke-width-controller">
              <mat-icon aria-hidden="false" aria-label="Example home icon">brush</mat-icon>
              <mat-slider [(ngModel)]="myModel" thumbLabel min="1" max="10" step="1" value="5" #tooltip="matTooltip" matTooltip="Stroke Width" [matTooltipPosition]="positionBottom.value" [matTooltipShowDelay]='500'></mat-slider>
              <div>{{myModel}}</div>
            </div>

            
            
            
            <button mat-mini-fab color="primary" aria-label="Example icon button with a delete icon" (click)="clearGraph()" #tooltip="matTooltip" matTooltip="Clear" [matTooltipPosition]="positionLeft.value" [matTooltipShowDelay]='500'>
              <mat-icon>delete</mat-icon>
            </button>

          </div>
          
          
        </div>
        <mat-divider></mat-divider>
        <div class="stats-container">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci dolore eveniet quod? Ut eveniet, sunt odio tempora explicabo debitis aut laudantium aperiam fugit. Fugiat perferendis fugit dolorum labore quas quis tempore laborum facilis cupiditate! Vel dignissimos, repellat officiis asperiores voluptates quia iusto dolores sed, vero harum ab veritatis, ratione maxime?
        </div>




      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="subsection-col">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Instructions">
           <div class="instructions">
              Leopold's friend Kate likes stones, so he decided to give her a golden stone as a gift. There are S types of stones numbered from 1 to S, 1 being the golden stone. Some types of stones are available free of charge in various parts of the city. The city consists of N junctions numbered from 1 to N and M two-way streets between pairs of distinct junctions. At each junction, zero or more types of stones are available in unlimited supply.
              <br><br>
              Unfortunately, the golden stone is not available anywhere. Luckily, Leopold is a bit of a magician and knows how to combine a group of stones and turn them into another stone. For example, one of his recipes could produce a golden stone out of one silver stone and two marble stones. He could collect those stones in some of the junctions if they are available, or he could use some of his many other recipes to produce any of those stones. Formally, Leopold has R recipes, where a recipe is in the form (a1, a2, ..., ak) -> b for some k ≥ 1. If Leopold has gathered k stones of types a1, a2, ..., and ak at a certain junction, he can choose to apply the recipe and turn these stones into one stone of type b.
              <br><br>
              Leopold likes puzzles much more than physical activity, therefore, he does not want to carry stones around the city unnecessarily. Carrying a stone along a street costs him one unit of energy. Leopold can carry no more than one stone at a time, however, he can drop off a stone at any junction and pick it up later at any time.
            </div>

          </mat-tab>
          <mat-tab label="Upload Dataset">
            <p>
            </p>

          </mat-tab>
          <mat-tab label="Support">
            Content 3

          </mat-tab>
        </mat-tab-group>
      </div>



    </div>
    <!-- <div class="line-break"></div> -->

  </div>



</section>




