/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; background-color: #212121; -webkit-font-smoothing: antialiased;}

.red-snackbar {
    background: #ff5722;
    color: #ffffff;
}

.grey-snackbar {
    background: #263238;
    color: #ffffff;
}


.green-snackbar {
    background: #43a047;
    color: #ffffff;
}
